# Series

In [4]:
import pandas as pd

series_test = pd.Series([100, 200, 300])

series_test

0    100
1    200
2    300
dtype: int64

In [4]:
series_test2 = pd.Series({1999: 48, 
                          2000: 65,
                          2001: 89})
series_test2

1999    48
2000    65
2001    89
dtype: int64

# DataFrames

In [5]:
# Dataframe formado con un diccionario. Los datos de series son pasados como lista
frame_test = pd.DataFrame({1999: [74, 38, 39],
                           2000: [34, 32, 32],
                           2001: [23, 38, 24]})
frame_test

   1999  2000  2001
0    74    34    23
1    38    32    38
2    39    32    24

In [7]:
frame_test2 = pd.DataFrame([[74, 38, 39],
                            [34, 32, 32],
                            [23, 38, 24]])
frame_test2

    0   1   2
0  74  38  39
1  34  32  32
2  23  38  24

In [8]:
frame_test3 = pd.DataFrame([[74, 38, 39],
                            [34, 32, 32],
                            [23, 38, 24]], columns=[1999, 2000, 2001])
frame_test3

   1999  2000  2001
0    74    38    39
1    34    32    32
2    23    38    24